EverlastingMan.DTD

<!ELEMENT div (#PCDATA|header|p|stanza)*> 
<!ATTLIST div 
    part CDATA #REQUIRED 
    type (chapter|introduction|conclusion|appendix) #REQUIRED
    n CDATA #IMPLIED>

<!ELEMENT header (#PCDATA)>
<!ATTLIST header type (chaptertitle|chapternumber|partnumber|parttitle) #REQUIRED>

<!ELEMENT stanza (#PCDATA)>

<!ELEMENT p (#PCDATA|title|emph|stanza|verse|q)*>
<!ELEMENT emph (#PCDATA)>

<!ELEMENT title (#PCDATA)>
<!ELEMENT verse (#PCDATA|stanza)*>

<!ELEMENT stanza (#PCDATA)>
<!ELEMENT q (#PCDATA)>
<!ATTLIST q type (so_called|quotation) #REQUIRED>