EverlastingMan.DTD

<!ELEMENT text (#PCDATA|div|main)*>

<!ELEMENT div (#PCDATA|header|p|stanza)*> 
<!ATTLIST div 
    part CDATA #REQUIRED 
    type (chapter|introduction|conclusion|appendix) #REQUIRED
    n CDATA #IMPLIED>

<!ELEMENT main (#PCDATA)>
<!ELEMENT header (#PCDATA)>
<!ATTLIST header type (chaptertitle|chapternumber|partnumber|parttitle) #REQUIRED>

<!ELEMENT stanza (#PCDATA)>

<!ELEMENT p (#PCDATA|title|emph|stanza|verse|q|foreign)*>
<!ELEMENT emph (#PCDATA)>
<!ELEMENT foreign (#PCDATA)>
<!ELEMENT q (#PCDATA)>
<!ATTLIST q type (so_called|quotation|title|speech) #REQUIRED>

<!ELEMENT title (#PCDATA)>
<!ELEMENT verse (#PCDATA|stanza)*>

<!ELEMENT stanza (#PCDATA)>
<!ELEMENT q (#PCDATA)>
<!ATTLIST q type (so_called|quotation|title) #REQUIRED>